nav#TableOfContents > * ul {
  padding-left: 1rem;
}

nav#TableOfContents > * * li {
  margin-bottom: 0;
}

pre.mermaid {
  background-color: unset;
}

pre.mermaid, pre {
  overflow-y: hidden;
  overflow-x: auto;
}
