nav#TableOfContents > * ul {
  padding-left: 1rem;
}

nav#TableOfContents > * * li {
  margin-bottom: 0;
}

pre.mermaid {
  background-color: unset;
}

pre {
  overflow-y: hidden;
  overflow-x: auto;
}

main article h1.athelas {
  font-family: sans-serif;
}
